<main class="container homepage">
    <div class="homepage-head row m-auto d-flex align-items-center pt-5">
        <section class="col-md-6">
            <h2>Trade crypto easily with only 1% fees</h2>
        <button class="button mt-3" routerLink="/create-wallet">Get Started Now</button>
        </section>
    
        <section class="col-md-6">
            <img class="main-img" src="../../assets/homepage-main.jpg"/>
        </section>
    </div>

    <div class="homepage-foot">

    </div>
</main>
