@import "../../_variables.scss";

.navbar{
    height:55px;
    display:flex;
    align-items:center;
    //background-color: rgb(24, 26, 32);

    .logo{
        text-transform:uppercase;
        font-weight:bold;
        letter-spacing:1px;
    }

    a{
        color:$primary-button-color;
    }

    .signup-link{
        margin-left:15px;
    }

    div{
        display:flex;
        align-items:center;
        justify-content:space-between;
        width:90%;
        margin:auto;   
    }
}